body {
    margin: 0;
}
.landingPage{
    background: url("../image/restaurant1.svg");
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption-area {
    font-family: 'Mulish', 'Calibri';
}
.heading {
    font-size: 4em;
}

.buttons-landpage button{
    padding: 21px 72px;
    background-color: #fff;
    font-size: 30px;
}
button{
    font-weight: 100;
}

